# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
.cache/
*.log

# Virtual environments
.venv/
env/
venv/

# Environment variables
.env
*.env

# VSCode
.vscode/

# PyCharm
.idea/

# MacOS
.DS_Store

# User data
data/user_data/

# Python egg
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Test and coverage
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Build artifacts
build/
dist/
*.egg

# System files
Thumbs.db
